entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Start POS System"

[[workflows.workflow]]
name = "Start POS System"
author = 44747297
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node pos_backend.js"

[[ports]]
localPort = 3000
externalPort = 80
